* {
    margin: 0px 0px 0px 0px;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 14px Helvetica, Arial;
}

#main {
    margin: 60px 0px 0px 0px;
}

form {
    background: #000;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2000;
}

#messages {
    list-style-type: none;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#onlineUsers {
    list-style-type: none;
}

#postsRow {
    height: 1000px;
}


/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}


/* Sidebar navigation */

.sidebar {
    padding-left: 10px;
    padding-right: 10px;
}