body {
    font-family: 'Roboto Slab', serif;
}

.pageHeader {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.pageHeader nav {
    width: 98%;
    margin: 0 auto;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.pageHeader nav a {
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
    color: black;
}

.pageHeader nav a:hover {
    text-decoration: underline;
}

.mainPageArea {
    width: 98%;
    margin: 20px auto;
    text-align: center;
}

.pageHeader {
    text-align: center;
}

.recipieTable {
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

.recipieTableArea {
    padding-top: 20px;
    width: 60%;
    margin: 0 auto;
}

.recipeExtras {
    width 98%;
    text-align: center;
}

.cookingQuote {
    float: left;
    width: 100%;
    text-align: center;
}

.cookingQuote h1 {
    font-size: 70px;
}

.headerImg {
    text-align: center;
}

.cookingImg {
    width: 50%;
    float: right;
    height: 422px;
    text-align: center;
}

.meatCatImg {
    width: 450px;
    height: 450px;
    display: inline-block;
    margin: 20px;
}

.meatCatImg img {
    max-height: 100%;
    max-width: 100%;
}

footer {
    margin-top: 50px;
    width: 98%;
    text-align: center;
    margin: 0 auto;
}

.recipeImg {
    float: left;
    width: 20%;
    text-align: center;
    max-width: 400px;
    max-height: 400px;
}

.recipeIngredients {
    float: left;
    width: 80%;
}

.recipeHeader {
    text-align: center;
}

.centerText {
    text-align: center;
}

.row {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.col {
    flex: 1;
    padding: 0.5em;
}